* {
	height: auto;
	width: auto;
	padding: 0;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	font-family: "Open Sans";
	color: black;
	font-weight: lighter
}

a {
	text-decoration: none;
}

a:hover {
	color: #f35e7b;
}

.selected {
	color: #f35e7b;
}

#logo {
	float: left;
	margin: 0%, 1%;
	padding: 0;
}

.header {
	color: black;
	padding: 12px;
	width: 100%;
	position: fixed;
	z-index: 2;
	top: 0px;
	background-color: white;
}

#navigation ul {
	list-style-type: none;
	padding: 0;

}

#navigation ul li{
	width: 12%;
	text-align: center;
	float: right;
	padding: 0;

}

#home {
	/*background: url("../img/home.jpeg") 100% 0 no-repeat fixed;*/
	min-height: 1000px;
	max-width: 1920px;
	width: 100%;
	height: 1000px;
	position: relative;
}

#home h1 {
	height: 458px;
	position: absolute;
	top: 210px;
	right: 99px;
	width: 400px;
	font-size: 60px;
	font-weight: bold;
}

#home p {
	position: absolute;
	top: 320px;
	right: 99px;
	width: 400px;
	font-size: 20px;
}

#aboutus {
	background: url("../img/aboutus.jpeg") 100% 0 no-repeat fixed;
	min-height: 1000px;
	max-width: 1920px;
	width: 100%;
	height: 1000px;
	position: relative;
}

#aboutus h1 {
	height: 458px;
	position: absolute;
	top: 110px;
	left: 99px;
	width: 400px;
	font-size: 60px;
	font-weight: bold;
}

#aboutus p {
	position: absolute;
	top: 220px;
	left: 99px;
	width: 400px;
	font-size: 20px;
}

#howitworks {
	background: url("../img/howitworks.jpg") 100% 0 no-repeat fixed;
	min-height: 1000px;
	max-width: 1920px;
	width: 100%;
	height: 1000px;
	position: relative;
}

#howitworks h1 {
	height: 458px;
	position: absolute;
	top: 110px;
	right: 10px;
	width: 500px;
	font-size: 60px;
	font-weight: bold;
}

#howitworks p {
	position: absolute;
	top: 220px;
	right: 99px;
	width: 400px;
	font-size: 20px;
}

#features {
	background: url("../img/features.jpg") 100% 0 no-repeat fixed;
	min-height: 1000px;
	max-width: 1920px;
	width: 100%;
	height: 1000px;
	position: relative;
}

#features h1 {
	height: 458px;
	position: absolute;
	top: 110px;
	right: 5px;
	width: 500px;
	font-size: 60px;
	font-weight: bold;
}

#features p {
	position: absolute;
	top: 220px;
	right: 99px;
	width: 400px;
	font-size: 20px;
}

#contactus {
	color: black;
	min-height: 10px;
	height: 1px;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#contactus p {
	text-align: center;
}